<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.tangtuan.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.cj.tangtuan.entity.Admin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_pass" property="adminPass" jdbcType="VARCHAR" />
    <result column="salt_val" property="saltVal" jdbcType="VARCHAR" />
    <result column="admin_type" property="adminType" jdbcType="CHAR" />
    <result column="admin_state" property="adminState" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, admin_name, admin_pass, salt_val, admin_type, admin_state, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cj.tangtuan.entity.Admin" >
    insert into admin (id, role_id, admin_name, 
      admin_pass, salt_val, admin_type, 
      admin_state, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{adminName,jdbcType=VARCHAR}, 
      #{adminPass,jdbcType=VARCHAR}, #{saltVal,jdbcType=VARCHAR}, #{adminType,jdbcType=CHAR}, 
      #{adminState,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cj.tangtuan.entity.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminPass != null" >
        admin_pass,
      </if>
      <if test="saltVal != null" >
        salt_val,
      </if>
      <if test="adminType != null" >
        admin_type,
      </if>
      <if test="adminState != null" >
        admin_state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null" >
        #{adminPass,jdbcType=VARCHAR},
      </if>
      <if test="saltVal != null" >
        #{saltVal,jdbcType=VARCHAR},
      </if>
      <if test="adminType != null" >
        #{adminType,jdbcType=CHAR},
      </if>
      <if test="adminState != null" >
        #{adminState,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.tangtuan.entity.Admin" >
    update admin
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null" >
        admin_pass = #{adminPass,jdbcType=VARCHAR},
      </if>
      <if test="saltVal != null" >
        salt_val = #{saltVal,jdbcType=VARCHAR},
      </if>
      <if test="adminType != null" >
        admin_type = #{adminType,jdbcType=CHAR},
      </if>
      <if test="adminState != null" >
        admin_state = #{adminState,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cj.tangtuan.entity.Admin" >
    update admin
    set role_id = #{roleId,jdbcType=BIGINT},
      admin_name = #{adminName,jdbcType=VARCHAR},
      admin_pass = #{adminPass,jdbcType=VARCHAR},
      salt_val = #{saltVal,jdbcType=VARCHAR},
      admin_type = #{adminType,jdbcType=CHAR},
      admin_state = #{adminState,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>