<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.tangtuan.mapper.CarouselImgMapper" >
  <resultMap id="BaseResultMap" type="com.cj.tangtuan.entity.CarouselImg" >
    <id column="ci_id" property="ciId" jdbcType="BIGINT" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="img_explain" property="imgExplain" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="admin_id" property="adminId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ci_id, img_name, img_explain, img_url, link_url, create_time, delete_time, admin_id, 
    state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from carousel_img
    where ci_id = #{ciId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from carousel_img
    where ci_id = #{ciId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cj.tangtuan.entity.CarouselImg" >
    insert into carousel_img (ci_id, img_name, img_explain, 
      img_url, link_url, create_time, 
      delete_time, admin_id, state
      )
    values (#{ciId,jdbcType=BIGINT}, #{imgName,jdbcType=VARCHAR}, #{imgExplain,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{adminId,jdbcType=BIGINT}, #{state,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cj.tangtuan.entity.CarouselImg" >
    insert into carousel_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ciId != null" >
        ci_id,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="imgExplain != null" >
        img_explain,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ciId != null" >
        #{ciId,jdbcType=BIGINT},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgExplain != null" >
        #{imgExplain,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.tangtuan.entity.CarouselImg" >
    update carousel_img
    <set >
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgExplain != null" >
        img_explain = #{imgExplain,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where ci_id = #{ciId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cj.tangtuan.entity.CarouselImg" >
    update carousel_img
    set img_name = #{imgName,jdbcType=VARCHAR},
      img_explain = #{imgExplain,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=BIGINT},
      state = #{state,jdbcType=CHAR}
    where ci_id = #{ciId,jdbcType=BIGINT}
  </update>
</mapper>