<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.tangtuan.mapper.groupMsgMapper" >
  <resultMap id="BaseResultMap" type="com.cj.tangtuan.entity.groupMsg" >
    <id column="group_msg_id" property="groupMsgId" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="group_num" property="groupNum" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    group_msg_id, group_id, group_num, user_id, msg, create_time, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from group_msg
    where group_msg_id = #{groupMsgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from group_msg
    where group_msg_id = #{groupMsgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cj.tangtuan.entity.groupMsg" >
    insert into group_msg (group_msg_id, group_id, group_num, 
      user_id, msg, create_time, 
      state)
    values (#{groupMsgId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{groupNum,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{msg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cj.tangtuan.entity.groupMsg" >
    insert into group_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupMsgId != null" >
        group_msg_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="groupNum != null" >
        group_num,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupMsgId != null" >
        #{groupMsgId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupNum != null" >
        #{groupNum,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.tangtuan.entity.groupMsg" >
    update group_msg
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupNum != null" >
        group_num = #{groupNum,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where group_msg_id = #{groupMsgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cj.tangtuan.entity.groupMsg" >
    update group_msg
    set group_id = #{groupId,jdbcType=BIGINT},
      group_num = #{groupNum,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      msg = #{msg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=CHAR}
    where group_msg_id = #{groupMsgId,jdbcType=BIGINT}
  </update>
</mapper>